*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    color:aliceblue;
    background-color: #212121;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:15%;
}

h1{
    text-align: center;
}

form{
    margin:10px;
    padding:5px;
    border-radius:4px;
    background-color: #414141;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.element{
    margin:2px;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

label{
    text-align:left;
    width:150px;
    display: inline-block;
}

input[type="text"],select{
    width:100%;
    margin:5px;
    border:2px solid #212121;
}

.role_container .checkbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
}
.roles .check{
    padding:4px;
    display:flex;
    justify-content: space-between;
}

button{
    margin:10px;
    padding:3px;
}

button:hover{
    cursor: pointer;
}