*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 115deg, rgb(187, 156, 119,0.7) ,rgb(224, 183, 134,0.6)), url("./mental-health-1024x576.avif");
    color: rgb(74, 4, 4);
}

.top{
    text-align: center;
    padding: 10px;
    font-weight:bold;
}

form{
    margin:20px;
    padding: 5px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(245, 222, 179);
    border-radius: 10px;
}

.txtelement>label,input{
    display: block;
    padding: 2px;
}

input[type="text"] ,input[type="number"] ,input[type="email"],select{
    width:100%;
}

label{
    margin: 5px;
}

form>div{
    margin-top: 15px;
    padding: 2px;
}

.button{
    display: flex;
    justify-content: center;
}

.label{
    display: flex;
}

button{
    width: 80px;
    height: 30px;
    background-color: rgb(37, 3, 3);
    color:aliceblue;
    border-radius: 2px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(81, 10, 10);
}